<div class="center jumbotron">

  <%= link_to "", signup_path, class: "btn btn-lg btn-primary" %>
</div>

 <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>